header
{
	background-color: #e43d30;
	min-height: 40px;
	padding-bottom: 2.6rem !important;
	padding-top: 2.6rem !important;
}

header .title
{
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.9px;
	text-transform: uppercase;
	display: block;
}

header .logo
{
	/*max-width: 170px;*/
}

nav ul.nav-menu
{
	border-bottom: 1px solid #b6b6b6;
	padding-bottom: 2.1rem !important;
	padding-top: 2.1rem !important;
}

nav ul.nav-menu li
{
	text-transform: uppercase;
	font-family: 'Helvetica';
	font-weight: 600;
	font-size: 18px;
}

.nav-link
{
	color: #222222 !important;
	padding: 0.5rem 2.5rem;
}

.nav-item, 
.nav-item .active
{
	position: relative;
}

.nav-item::before {
    content: "";
    padding: 0px;
    border: 1px solid #fff;
    left: 40px;
    color: blue;
    display: inline-block;
    position: absolute;
    bottom: 9px;
    width: 50%;
    -webkit-transition: opacity 0.3s ease 0;
    transition: opacity 0.3s ease 0;
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
}

.nav-item:hover::before
{
	width: 60%;
	border-color: #e43d30;
}

.nav-item .active::before 
{
	content: "";
	padding: 0px;
	border: 1px solid #e43d30;
	margin-right: 5px;
	color: blue;
	display: inline-block;
	position: absolute;
	bottom: 9px;
	width: 60%;
	-webkit-transition: opacity 0.3s ease 0;
	transition: opacity 0.3s ease 0;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

.nav-item .active:hover::before
{
	width: 60%;
}

p
{
	font-family: 'Helvetica';
	font-size: 16px;
	font-weight: lighter;
	color: #222222;
	line-height: 30px;
	letter-spacing: 1px;
}

h3.title
{
	color: #222222;
	text-transform: uppercase;
}

h5.title
{
	color: #222222;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Helvetica';
	font-size: 20px;
	letter-spacing: 1.3px;
}

.theme-color
{
	color: #e43d30;
}

.border-bottom
{
	border-bottom: 1px solid #b6b6b6 !important;
}

footer
{
	padding-bottom: 3.4rem !important;
	padding-top: 3.4rem !important;
}

footer p
{
	font-size: 15px;
	font-weight: 300 !important;
	letter-spacing: initial;
	color: #747474;
}

footer p.small
{
	font-size: 13px;
}

.form-control, 
.custom-select[multiple], .custom-select[size]:not([size="1"]) 
{
	padding: 1.30rem 1.5rem;
	font-weight: 400;
	line-height: 1.5;
	color: #222222 !important;
	border: 1px solid #F0F0F0;
	background-color: #F0F0F0;
	border-radius: 0px;
	font-family: "Helvetica";
	font-size: 14px;
	letter-spacing: 1.01px;
}

.form-group 
{
	margin-bottom: 1rem;
}

.form-control:focus, 
.custom-select:focus[multiple], .custom-select:focus[size]:not([size="1"]) 
{
	color: #495057 !important;
	background-color: #fff;
	border-color: #707070;
	outline: 0;
	/* box-shadow: 0 0 0 .2rem rgba(0,123,255,.25); */
	color: #222222;
	font-weight: 500;
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.14);
}

.custom-select:focus[multiple], .custom-select:focus[size]:not([size="1"]) 
{
	color: #495057 !important;
	background-color: #fff;
	border-color: #707070;
	outline: 0;
	/* box-shadow: 0 0 0 .2rem rgba(0,123,255,.25); */
	color: #222222;
	font-weight: 500;
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.14);
	border-top: 1px solid transparent;
}

.custom-select[multiple] option 
{
	margin-bottom: 0.4em;
	padding-left: 2em;
}

.custom-label
{
	background: #f0f0f0;
	padding: 0.9em;
	padding-left: 2em;
	margin: 0px;
	border-bottom: 1px solid #707070;
	display: block;
	font-weight: 400;
	line-height: 1.5;
	color: #222222 !important;
	font-family: "Helvetica";
	font-size: 14px;
	letter-spacing: 1.01px;
}

.grid-item
{
	width: 33.3%;
	overflow: hidden;
	border: 5px solid transparent;
	float: left;
}

.grid-item img
{
	transition: transform .3s;
}

.grid-item img:hover
{
	transform: scale(1.20);
	z-index: 9999;
}

#api item
{
	
}

hr {
	border-top: 1px solid #b6b6b6 !important;
}

.btn-house
{
	font-family: "Helvetica";
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 13px 2em;
}

.splide__arrow
{
	background: transparent !important;
}

.splide__pagination__page.is-active 
{
    background: #e43d30 !important;
}

.splide__list .splide__slide
{

}

#locale a.active
{
	font-weight: 800;
	text-decoration: underline;
}

.text-concept
{
	color: #222222;
}

.overlay-content a 
{
	position: relative;
}

.overlay-content a:hover, 
.overlay-content a:focus 
{
	color: #e43d30;
}

.overlay-content a.active::before 
{
    content: "";
    padding: 0px;
    border: 1px solid #e43d30;
    background-color: #e43d30;
    margin-right: 5px;
    color: blue;
    display: inline-block;
    position: absolute;
    bottom: 8px;
    width: 26px;
}

strong
{
	font-weight: 800;
}

.top img
{
	-webkit-transition: opacity 0.3s ease 0;
	transition: opacity 0.3s ease 0;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

.top img:hover
{
	-webkit-transition: opacity 0.3s ease 0;
	transition: opacity 0.3s ease 0;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
	transform: scale(0.8);
}

.btn-outline-dark:hover 
{
    background-color: #222222;
    border-color: #222222;
}

.text-privacy
{
	float: right;
}

.project-background
{
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	border-right: 5px solid white;
}

.splide--draggable > .splide__track > .splide__list > .splide__slide 
{
    padding: 2em;
}

.rotate-initial
{
	transform: initial;
}

.rotate-180
{
	transform: rotate(180deg);
}


/* cambios css solo para modo horizontal */
@media  only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
{
	.grid-item
	{
		width: 100%;
		overflow: hidden;
		border: 5px solid transparent;
	}

	header .title
	{
		font-size: 12px;
	}

	footer p
	{
		text-align: center;
	}

	.nav-link
	{
		padding: 0rem 0.6rem;
	}

	#locale a:hover
	{
		color: #e43d30 !important;
	}

	.text-privacy
	{
		float: inherit;
		text-align: center;
	}

	.splide--draggable > .splide__track > .splide__list > .splide__slide 
	{
	    padding: initial;
	}

	.text-xs-center { text-align: center; }

}


/* cambios css solo para modo horizontal */
@media  only screen 
and (min-device-width : 1200px) 
{
	.container 
	{
		max-width: 1600px;
	}
}