
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255, 0.96);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 27px;
    color: #393E43;
    display: block;
    transition: 0.3s;
    font-family: Helvetica;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #DB2422;
}

@media screen and (max-height: 450px) 
{
    .overlay a {font-size: 20px}
    
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}